In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('olist_data/olist_customers_dataset.csv')
df1.sample(10)

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
26312,ebf8762f13cc2d8f7b7e5f4dfd1fcf5f,54132669b1c1f6eb5d47b359f370d54a,4531,sao paulo,SP
80760,0c98695352c85d7b6f28a78dcbaff914,f941b66064e2381bd2ebf70aab0c9a33,30421,belo horizonte,MG
22668,1e7347c98af2c5dd3b24ef197d20e0ce,c26525a6863cd7b333a3bb8de64eff74,89176,trombudo central,SC
9222,8543c0b4f11a268a7f4713ca98c4b2ba,65c5f23716bc4c3e8055efc369692f7e,13607,araras,SP
46835,41f5935e006ab982056004b85cd7d612,447e2e8ba78fb1a08bd071fce27aeb8a,5015,sao paulo,SP
60386,02d6d0f47ae7ef004d1106cd4743b553,5c5f8f357189e6a106da7aa882815a5a,8090,sao paulo,SP
28405,e15fca521af3faf8a594328be6350905,3ea232fed25a7658e342455efdf64e47,72311,brasilia,DF
33599,ede0405d4a691c6d3efc44523518a787,72cf567ce06fef463bd3f42b44a8c825,18055,sorocaba,SP
12535,3aadc857de358a975814b94ab0865112,a5f23078f7990bca30dfd38e274621bb,35661,para de minas,MG
75236,d1c3bfe0821606dd96e0af5cf6fb258e,345eeeb838c3cb47f2938c7014c31e4e,7075,guarulhos,SP

In [3]:
df1.customer_city.value_counts()

sao paulo            15540
rio de janeiro        6882
belo horizonte        2773
brasilia              2131
curitiba              1521
                     ...
bequimao                 1
andarai                  1
vargem grande            1
curvelandia              1
eugenio de castro        1
Name: customer_city, Length: 4119, dtype: int64

In [4]:
df2 = pd.read_csv('olist_data/olist_geolocation_dataset.csv')
df2.sample(10)

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
987913,97574,-30.891856,-55.520392,santana do livramento,RS
697965,46930,-12.515730,-41.583183,palmeiras,BA
398963,19160,-22.075146,-51.476093,álvares machado,SP
449372,22470,-22.966909,-43.217108,rio de janeiro,RJ
761051,65636,-5.090074,-42.841478,timon,MA
141716,5735,-23.630168,-46.747820,sao paulo,SP
753031,64100,-4.257464,-42.282713,barras,PI
254606,11410,-23.993786,-46.249790,guaruja,SP
609058,36010,-21.762989,-43.344219,juiz de fora,MG
981805,96508,-30.041612,-52.896638,cachoeira do sul,RS

In [5]:
df2.geolocation_city.value_counts()

sao paulo               135800
rio de janeiro           62151
belo horizonte           27805
são paulo                24918
curitiba                 16593
                         ...
jacuípe                      1
mar vermelho                 1
quebrangulo                  1
poço das trincheiras         1
poxim                        1
Name: geolocation_city, Length: 8011, dtype: int64

In [6]:
df3 = pd.read_csv('olist_data/product_category_name_translation.csv')
df3.sample(10)

                product_category_name product_category_name_english
13           tablets_impressao_imagem        tablets_printing_image
60                         la_cuisine                    la_cuisine
37          agro_industria_e_comercio    agro_industry_and_commerce
49   construcao_ferramentas_seguranca     construction_tools_safety
50     fashion_underwear_e_moda_praia       fashion_underwear_beach
66                             flores                       flowers
21                   fashion_calcados                 fashion_shoes
41              instrumentos_musicais           musical_instruments
32                        eletronicos                   electronics
43  construcao_ferramentas_iluminacao     construction_tools_lights

In [7]:
df3.product_category_name.unique()

array(['beleza_saude', 'informatica_acessorios', 'automotivo',
       'cama_mesa_banho', 'moveis_decoracao', 'esporte_lazer',
       'perfumaria', 'utilidades_domesticas', 'telefonia',
       'relogios_presentes', 'alimentos_bebidas', 'bebes', 'papelaria',
       'tablets_impressao_imagem', 'brinquedos', 'telefonia_fixa',
       'ferramentas_jardim', 'fashion_bolsas_e_acessorios',
       'eletroportateis', 'consoles_games', 'audio', 'fashion_calcados',
       'cool_stuff', 'malas_acessorios', 'climatizacao',
       'construcao_ferramentas_construcao',
       'moveis_cozinha_area_de_servico_jantar_e_jardim',
       'construcao_ferramentas_jardim', 'fashion_roupa_masculina',
       'pet_shop', 'moveis_escritorio', 'market_place', 'eletronicos',
       'eletrodomesticos', 'artigos_de_festas', 'casa_conforto',
       'construcao_ferramentas_ferramentas', 'agro_industria_e_comercio',
       'moveis_colchao_e_estofado', 'livros_tecnicos', 'casa_construcao',
       'instrumentos_musicais', 'moveis_sala',
       'construcao_ferramentas_iluminacao',
       'industria_comercio_e_negocios', 'alimentos', 'artes',
       'moveis_quarto', 'livros_interesse_geral',
       'construcao_ferramentas_seguranca',
       'fashion_underwear_e_moda_praia', 'fashion_esporte',
       'sinalizacao_e_seguranca', 'pcs', 'artigos_de_natal',
       'fashion_roupa_feminina', 'eletrodomesticos_2',
       'livros_importados', 'bebidas', 'cine_foto', 'la_cuisine',
       'musica', 'casa_conforto_2', 'portateis_casa_forno_e_cafe',
       'cds_dvds_musicais', 'dvds_blu_ray', 'flores',
       'artes_e_artesanato', 'fraldas_higiene',
       'fashion_roupa_infanto_juvenil', 'seguros_e_servicos', 'pc_gamer'],
      dtype=object)